<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import TextInput from '@/Components/TextInput.vue';
import { useForm } from '@inertiajs/vue3';

defineProps({
    transactions: Array,
    balance: Number
});

const form = useForm({
    search: ''
});

const search = () => {
    form.post(route('post.search'), {
        onFinish: () => form.reset('search'),
    });
}
</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Balance
            </h2>
        </template>
        <div class="bg-white py-8 sm:py-12 mb-8">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center">
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                        <dt class="text-base leading-7 text-gray-600">Remaining Balance</dt>
                        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Rp. {{ Intl.NumberFormat('id-ID').format(balance)}}</dd>
                    </div>
                </dl>
            </div>
        </div>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight text-center">
            Balance History
        </h2>
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="relative mt-2 rounded-md shadow-sm">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    <span class="text-gray-500 sm:text-sm"></span>
                </div>
                <!-- <input type="text" name="search" id="search" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
                    placeholder="Search"> -->
                <form @submit.prevent="search">
                    <TextInput placeholder="Search" v-model="form.search"
                        class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                    <button class="w-full h-8 px-6 mt-4 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <div class="py-4">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 pb-4" v-for="item in transactions.data">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg grid">
                    <ul role="list" class="divide-y divide-gray-100">
                        <li class="flex justify-between gap-x-6 py-5 px-8">
                            <div class="flex min-w-0 gap-x-4">
                            <img class="h-12 w-12 flex-none rounded-full bg-green-300" src="../../img/211623_b_up_arrow_icon.png" alt="" v-if="item.amount > 0">
                            <img class="h-12 w-12 flex-none rounded-full bg-red-300" src="../../img/211614_down_b_arrow_icon.png" alt="" v-else>
                            <div class="min-w-0 flex-auto">
                                <p class="text-sm font-semibold leading-6 text-gray-900">{{ item.transaction_name }}</p>
                                <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ item.transaction_type }}</p>
                            </div>
                            </div>
                            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                            <p class="text-sm leading-6 text-gray-900" v-if="item.amount > 0">Rp. {{ Intl.NumberFormat('id-ID').format(item.amount)}}</p>
                            <p class="text-sm leading-6 text-gray-900" v-else>- Rp. {{ Intl.NumberFormat('id-ID').format(item.amount.toString().split('-')[1])}}</p>
                            <p class="mt-1 text-xs leading-5 text-gray-500">{{ new Date(item.created_at).toLocaleString('id-ID') }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                <div class="flex flex-1 justify-between sm:hidden">
                    <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
                    <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
                </div>
                <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                    <div>
                    <p class="text-sm text-gray-700">
                        Showing
                        <span class="font-medium">{{ transactions.per_page * (transactions.current_page - 1) + 1 }}</span>
                        to
                        <span class="font-medium" v-if="total > (transactions.per_page * transactions.current_page)">{{ transactions.per_page * transactions.current_page }}</span>
                        <span class="font-medium" v-else>{{ transactions.total }}</span>
                    
                        of
                        <span class="font-medium">{{ transactions.total }}</span>
                        results
                    </p>
                    </div>
                    <div>
                    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                        <a 
                            v-for="link in transactions.links"
                            :href="link.url" 
                            :aria-current="link.active ? 'page' : ''" 
                            :class="link.active ? 
                                'relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
                                :
                                'relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0'
                                "
                            >
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" v-if="link.label.includes('Previous')">
                                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                            </svg>
                            {{ link.label.includes('Previous') || link.label.includes('Next') ? '' : link.label }}
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" v-if="link.label.includes('Nex')">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </nav>
                    </div>
                </div>
            </div>
        </div>

    </AppLayout>
</template>
