<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { useForm } from '@inertiajs/vue3';
import { reactive } from 'vue'
const props = defineProps({
    balance: Number
});
const form = useForm({
    transaction_name: '',
    transaction_type: '',
    amount: '',
    description: 'Buying Chair'
});

const data = [
    {
        name: 'Chair',
        image: 'https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=80&w=2586&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        amount: 50000
    },
    {
        name: 'Table',
        image: 'https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=80&w=2586&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        amount: 78000
    },
    {
        name: 'Coffee Maker',
        image: 'https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=80&w=2586&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        amount: 178000
    }
]

const message = reactive({
    error: null,
})

const buy = (item) => {
    if(props.balance > item.amount)
    {
        form.transaction_name = 'Buy ' + item.name;
        form.transaction_type = 'Outgoing';
        form.amount = -1 * item.amount;
        form.post(route('post.transaction'), {
            onFinish: () => form.reset('amount'),
        });
    }
    else{
        message.error = 'Not enough balance!';
        console.log(error);
    }
}
</script>

<template>
    <AppLayout title="Purchase">
        <div v-if="$page.props.errors.error" class="alert alert-danger">
            {{ $page.props.errors.error }}
        </div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 pb-4">
            <div v-if="message.error !== null" class="alert alert-danger text-center">
                <div id="alert-2" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div class="ml-3 text-sm font-medium">
                    {{ message.error }}
                </div>
                <button type="button" 
                    class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" 
                    @click="message.error = null" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
                </div>
            </div>
        </div>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight flex justify-between">
                Purchase
                <span>
                    Rp.{{ Intl.NumberFormat('id-ID').format(balance) }}
                </span>
            </h2>
        </template>
        <div class="py-4">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 pb-4" v-for="item in data">
                <form @submit.prevent="buy(item)">
                    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg grid">
                        <ul role="list" class="divide-y divide-gray-100">
                            <li class="flex justify-between gap-x-6 py-5 px-8">
                                <div class="flex min-w-0 gap-x-4">
                                <img class="h-12 w-12 flex-none rounded-full bg-gray-50" :src="item.image" alt="">
                                <div class="min-w-0 flex-auto self-center">
                                    <p class="text-sm font-semibold leading-6 text-gray-900 ">{{ item.name }}</p>
                                </div>
                                </div>
                                <div class="hidden shrink-0 sm:flex sm:items-center self-center">
                                    <p class="text-sm leading-6 text-gray-900 mr-4">Rp.{{ Intl.NumberFormat('id-ID').format(item.amount)}}</p>
                                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                        Buy
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </AppLayout>        
    
</template>
