<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import DataTable from '@/Components/DataTable.vue';
import TextInput from '@/Components/TextInput.vue';
import { useForm } from '@inertiajs/vue3';

defineProps({
    balance: Number
});

const form = useForm({
    transaction_name: 'Top Up',
    transaction_type: 'Incoming',
    amount: '',
    description: ''
});

const topUp = () => {
    form.post(route('post.transaction'), {
        onFinish: () => form.reset('amount', 'description'),
    });
}
</script>

<template>
    <AppLayout title="Top Up">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Top Up
            </h2>
        </template>
        
        <div class="bg-white py-8 sm:py-12 mb-8">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center">
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                        <dt class="text-base leading-7 text-gray-600">Remaining Balance</dt>
                        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Rp. {{ Intl.NumberFormat('id-ID').format(balance) }}</dd>
                    </div>
                </dl>
            </div>
        </div>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight text-center">
            Top Up
        </h2>
        <div v-if="$page.props.errors" class="alert alert-danger">
        <ul>
            <li v-for="error in $page.props.errors" :key="error">{{ error }}</li>
        </ul>
        </div>
        <form @submit.prevent="topUp">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <span class="text-gray-500 sm:text-sm">Rp</span>
                    </div>
                    <!-- <input type="text" name="search" id="search" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
                        placeholder="Search"> -->
                    <TextInput placeholder="Amount" v-model="form.amount"
                        class="block w-full rounded-md border-0 py-1.5 pl-8 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
            </div>
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="relative mt-2 rounded-md shadow-sm">
                    <!-- <input type="text" name="search" id="search" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
                        placeholder="Search"> -->
                    <TextInput placeholder="Description (Optional)" v-model="form.description"
                        class="block w-full rounded-md border-0 py-1.5 pl-8 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
            </div>
            <div class="mx-auto max-w-7xl px-6 lg:px-8 py-8">
                <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                    <h2>Top Up Amount: </h2>
                    <h2>Rp. {{ Intl.NumberFormat('id-ID').format(form.amount)}}</h2>
                </div>
            </div>
            <div class="mx-auto max-w-7xl px-6 lg:px-8 py-8">
                <button class="w-full h-12 px-6 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">
                    Process Top Up
                </button>
            </div>
        </form>
    </AppLayout>
</template>
